body::before{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-position: center;
    /* background-image: url(https://images.unsplash.com/photo-1541359927273-d76820fc43f9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 1;
  

}
.container{
    font-size: larger;
    font-weight: bold;
    color: black;
    margin-top: 10%;
    
}
.login {
    max-width: 30%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login label,
.login input,
.login button,
.login a {
    display: block;
    margin-bottom: 2px;
    text-decoration: none;
    color: white;
}

.login input,
.login button {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .login {
        max-width: 300px;
    }
}

input{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.653);
    opacity: 1;
   outline: none;
    font-weight: 500;
    border: 3px solid black;
    color: black;
    margin-bottom: 10px;

}
label{
    font-size: 20px;
    color: black;
    
}
ul{
    display: flex;
list-style-type: none;
    li{
        
        a{
text-decoration: none;
color: black;
font-size: larger;
font-weight: 800;
display: block;
width: 100px;
padding: 10px;



        }
       
    }
    
}
