.container {
    padding-top: 10vh; /* Adjusted for better spacing */
    padding-left: 5%; /* Added padding for better layout */
    padding-right: 5%; /* Added padding for better layout */
    text-align: center; /* Center content */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(https://marketplace.canva.com/EAFVM_vyTDk/1/0/1600w/canva-beige-minimalist-sweet-2022-recap-memories-scrapbook-photo-collage-zSUcuFgHFhk.jpg);
    background-size: cover;
    opacity: 0.7;
}

h1 {
    color: black;
    font-size: 3rem; /* Responsive font size */
}

form {
    margin-top: 20px; /* Increased margin for better spacing */
    margin-left: auto;
    margin-right: auto;
    max-width: 400px; /* Max width for better layout on larger screens */
}

input {
    width: 100%; /* Full width on smaller screens */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button {
    width: 100%; /* Full width on smaller screens */
    padding: 12px 0; /* Adjusted padding for better appearance */
    border: none;
    border-radius: 5px;
    background-color: cyan;
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.navigation {
    display: flex;
   
    margin-top: 20px; /* Increased margin for better spacing */
}

.navigation li a {
    padding: 0 10px;
    color: black;


}
label{
    font-size: 25px;
    font-weight: 800;
}
button:hover{
    background-color: beige;
    
}
a{
    text-decoration: none;
    color: black;
}
