body::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1577563682708-4f022ec774fb?q=80&w=1867&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 1;
}

ul{
    display: flex;
    list-style-type: none;
        li{
            
            a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 800;
    
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    
            }
           
        }
        
    }
input::placeholder{
    color: black;
}

.head {
    margin-top: 10%;
    color: black;
}

.outer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    font-family:  sans-serif; 
    border: 3px solid black;
    border-radius: 10px;
}

.submit {
    padding: 10px 20px;
    background-color: lightsalmon;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(237, 221, 221, 0.653);
    opacity: 1;
   outline: none;
    font-weight: 500;
    border: 3px solid black;
    color: black;
    z-index: 1;
}

label {
    font-weight: 600;
    margin-bottom: 2%;
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    .outer {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .outer {
        width: 90%; 
    }
}
