html
{
  margin-top: 3%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh3rXIAwawL7fTMjCaYDO-bkgWam9CgEC5uQ&usqp=CAU);
}
.navigation
{
    display:flex;
    margin: 0%;
    justify-content: space-between;
    padding: 5px;
}

.navbar
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(17, 12, 12);
  z-index: 1000;
}
li
{
    list-style: none;
    padding: 20px 20px;
    font-weight: bold;
    font-size: large;
    
}
h1{
    font-size: 50px;
    color: rgb(75, 75, 75);
}
a{
    text-decoration: none;
    color: snow;
    list-style: none;
    padding: 20px 20px;
    font-weight: bold;
    font-size: larger;
}
a.login
{
    position: absolute;
    right: 150px;
    top: 25px; 
    font-weight: bold;
    font-size: medium;
}
a.add
{
    position:absolute;
    right: 350px;
    top: 25px;
    font-weight: bold;
    font-size: medium;
}




html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding-bottom: 100px;
    min-height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #fff;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us {
    padding: 40px 0;
    text-align: center;
  }
  
  .about-us h2 {
    color: #333;
  }
  
  .about-us p {
    color: #3f3f3f;
    line-height: 1.6;
  }
.par
{
    font-size: 18px;
    text-align: left;
}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 60%;
}

.slides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.2s;
}

@keyframes fade {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}



.custom-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049; 
  animation: bounce 0.4s ease; 
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}